.comHeader{
  height: 70px;
  width: 100%;
  // background-color: #fafafa;
  border-bottom: 1px solid rgba(0,0,0,.0975);
  line-height: 70px;
  min-width: 1200px;
  .headerContent{
    width: 1200px;
    margin: 0 auto;
    .left{
      float: left;
    }
    .center{
      float: left;
      margin-left: 400px;
    }
    .right{
      float: right;
      margin-right: 20px;
    }
  }
}